
<div class="row">
  <div class="col-md-3 col-12">
    <product-filter></product-filter>
  </div>
  <div class="col-md-offset-1 col-md-9 col-12">
      <div class="row">
          <ng-container *ngFor="let p of products|async">
      
              <div class="col-6 col-md-4">
                
              <product-card [product]="p"></product-card>
            </div>
            
          </ng-container>
        </div>
        
        <app-admin-orders></app-admin-orders>
    </div>
  </div>
  