<div class="row">
    <div class="col-3">
    <product-filter [category]="categories$"></product-filter>
    </div>
    <div class="col-md-9 col-12">
      <div class="row">
          <ng-container *ngFor="let p of products|async">
      
              <div class="col-6 col-md-4">
                
              <product-card [product]="p"></product-card>
            </div>
            
          </ng-container>
        </div>
        <a href="#">Hello</a>
        <app-admin-orders></app-admin-orders>
    </div>
  </div>
  