<div class="row">
  <a class="nav-link list-group-item" (click)="showForm()" 
  [style.display]="!isShowForm ?'block':'none'">Add new Product</a>
</div>
<div class="row">
    <div *ngIf="isShowForm" class="col-6">
        <form #f="ngForm" (ngSubmit)="saveCategory(f.value)">
            <div class="form-group">
              <label for="key">Title</label>
              <input type="text" [(ngModel)]="product.title"  
              class="form-control" id="title" name="product.title" aria-describedby="title" 
              placeholder="Enter Product Name">
            </div>
            <div class="form-group">
                <label for="title">Description</label>
                <input type="text" [(ngModel)]="product.description" name="product.description" rows="4" 
                class="form-control" id="description" aria-describedby="Description" 
                placeholder="Enter Description">
              </div>
              <div class="form-group">
                <label for="category">Price</label>
                <input type="text" [(ngModel)]="product.price" name="product.price" rows="4" 
                class="form-control" id="price" aria-describedby="Price" 
                placeholder="Enter price">
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <input type="text" [(ngModel)]="product.category" name="product.category" rows="4" 
                class="form-control" id="category" aria-describedby="category" 
                placeholder="Enter category">
              </div>
              
              <div class="form-group">
                <label for="imageUrl">Image</label>
                <input type="text" [(ngModel)]="product.imageUrl" name="product.imageUrl" rows="4" 
                class="form-control" id="imageUrl" aria-describedby="Image Name" 
                placeholder="Enter Image name">
              </div>
    
              <div class="form-group">
                <button type="submit" class="form-control offset-2 col-6 btn btn-primary">Save Changes</button>
              </div>
              
    
          </form>
    
    
    </div>
    
</div>


<div class="example-container mat-elevation-z8">
        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
        <mat-table #table [dataSource]="dataSource" matSort>
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      
          <!-- Position Column -->
          <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sno </mat-header-cell>
            <mat-cell *matCellDef="let element">1 </mat-cell>
          </ng-container>
      
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Product Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>
      
          <!-- Featured Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Update">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a (click)="showForm(element)" class="nav-link" >Edit</a>  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a (click)="deleteCategory(element._id)" class="nav-link" >Delete</a>  </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
      </div>
