<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/img/logo.jpg" 
      style="width:72px; height: 53px;" title="logo" ></a>
      
      <div class="">
             
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="../../../assets/img/my-account.png" style="height:40px;width:40px;">
              </a>
             <div class="dropdown-menu">
               <a class="nav-link" [routerLink]="['/login']">Login </a>
               <a class="nav-link" [routerLink]="['/register']">Register</a>
             </div>
            </div> <a class="" routerLink="/">
              <img src="../../../assets/img/shopping-cart-logo.png" style="height:40px;width:40px;">
              <span  style="">1</span>
          </a>
          
    </div>
  
  <!-- <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse" id="navbarMenu">
      <a class="nav-link" [routerLink]="['/login']">Login </a>
      <a class="nav-link" [routerLink]="['/register']">Register</a>
  </div> -->
   
      </nav>